/* Layout vars */
$layout-width: 1000px;
$header-height: 80px;

/* Colors vars */
$color-primary: #00c4cc;
$color-secondary: #7d2ae8;
$color-text: rgba(0, 0, 0, .6);
$color-border: #dddddd;
$color-error: #f53240;
$color-background: rgb(236, 236, 236);
