@import "../vars/vars.scss";

.Orders {

  &__headline {
    color: $color-secondary;
    font-size: 28px;
    margin: 15px 0 20px;
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  &__Row:hover {
    cursor: pointer;
  }
}