@import "../vars/vars.scss";

.Order {

  &__headline {
    color: $color-secondary;
    font-size: 28px;
    margin: 15px 0 20px;
  }

  &__status {
    color: $color-success;
  }

  &__closed  {
    color: $color-error;
  }

  &__link {
    display: block;
    margin: 15px 0;
    color: #000;
    text-decoration: none;
  }
}