@import "../vars/vars.scss";

.Header {
  background: $color-primary;
  background-image: linear-gradient(139deg, $color-primary 0%, $color-secondary 100%);
  color: #fff;

  &__container {
    width: 100%;
    max-width: $layout-width;
    min-height: $header-height;
    line-height: 40px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
  }

  &__text {
    font-size: 28px;
  }

  &__link {
    margin-left: 20px;
    color: #fff;
  }
}
