@import "../vars/vars.scss";

.Main {
  min-height: 100vh;
  background-color: #444;

  &__content {
    min-height: calc(100vh - #{$header-height});
    width: 100%;
    max-width: $layout-width;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
  }
}
